<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="author" href="humans.txt" />
    <link rel="stylesheet" href="css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <style hx-get="/posts/meta" hx-trigger="load"></style>
    <header>
      <div class="logo">
        <a href="/static/index.html">
          <img src="img/logo.png" alt="log" />
        </a>
      </div>
      <div class="navigation">
        <nav>
          <ul>
            <li>Posts</li>
            <li>TIL</li>
            <li>Snips</li>
            <li>Tutorials</li>
            <li>Categories</li>
          </ul>
        </nav>
      </div>
    </header>
    <main hx-get="/posts" hx-trigger="load">
      <section class="featured-post">
        <article>
          <h2
            hx-get="/posts/test"
            hx-trigger="click"
            hx-target="main"
          >
            Test
          </h2>
          <p>Sample</p>
        </article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
