{% extends 'base.html' %}

{% block content %}
  {% for post in posts %}
    <section class="main-post {{ post.slug }}-img">
      <a href="/posts/{{post.slug}}">
        <article>
          <div class="title">
            <h2 class="{{ post.slug }}-gradient">{{ post.title }}</h2>
          </div>
          <div class="brief">
            <p>{{ post.brief|safe }}</p>
          </div>
        </article>
      </a>
    </section>
  {% endfor %}
{% endblock %}
