[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyjwt = "*"
sqlite4 = "*"
beautifulsoup4 = "*"
pytest = "*"
coverage = "*"
pymongo = "*"
ruff = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
