:root {
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --smoky-black: #0b0704ff;
  --raisin-black: #252326ff;
  --black-olive: #3c3c3aff;
  --davys-gray: #535353ff;
  --gray: #828383ff;
  --platinum: #e7e9e7ff;
  --moss-green: #9d8d50ff;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  /* background: rgb(77,80,97); */
  /* background: radial-gradient(circle, rgba(77,80,97,1) 0%, rgba(27,29,34,1) 100%); */
  background-color: rgba(27,29,34,1);
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
}

header {
  display: flex;
  justify-content: space-between;
  margin: .75rem .25rem auto;
}

.logo {
  margin-left: 1rem;
}

.logo img {
  width: 5rem;
}

nav {
  height: 100%;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 2rem;
  background: var(--raisin-black);
  padding: .75rem;
  border-radius: 5px;
}

nav ul li:hover {
  filter: brightness(150%);
}

hr {
  border: none;
  border-top: 4px double var(--black-olive);
  border-bottom: 4px double var(--black-olive);
  color: var(--platinum);
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: rgba(27,29,34,1);
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

section.featured-post h2 {
  background: #E8C547;
  background: linear-gradient(to right, #E8C547 0%, #FFF9C1 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
