:root {
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --smoky-black: #0b0704ff;
  --raisin-black: #252326ff;
  --black-olive: #3c3c3aff;
  --davys-gray: #535353ff;
  --gray: #828383ff;
  --platinum: #e7e9e7ff;
  --moss-green: #9d8d50ff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--smoky-black);
  margin: 0;
}


a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
