:root {
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --smoky-black: #151410ff;
  --jet: #2f312eff;
  --gray: #7a7b7dff;
  --beaver: #a08f7fff;
  --rose-taupe: #89615fff;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
